h1 {
  text-shadow: 2px 2px 2px #bbb;
  margin-bottom:5px;
}

table { border-collapse:collapse; }

tr:hover {
  background: #ddd;
}

table,th, td { border: 0px; }

tr.action {
  color: gray;
  font-family: serif;
}

td {
  vertical-align: top;
  margin: 0 0 0 0;
  padding: 0 15 0 15;
}

td.date {
  color: gray;
  white-space: nowrap;
  font-size: 70%;
}

tr.saying td.msg, tr.me td.msg {
  font-family: monospace;
  white-space: pre-wrap;
  padding-left: 5px;
}

tr.me td.msg {
  font-style: italic;
}

td.nick {
  font-family: serif;
  font-size: 80%;
  text-align: right;
  vertical-align:top;
  padding-right: 5px;
  font-weight: bold;
}

tr.action td.msg {
  font-size: 80%;
}

hr {
  border: 0;
  border-top: 4px dashed #eee;
  clear: both;
}

#driving {
  float: right;
}

#loadingDiv {
  width: 100%;
  text-align: center;
}

#footer {
  font-size: 70%;
}

span.highlight {
  background: yellow;
}
