body { margin: 0; padding: 0; }
table { border-collapse:collapse; }

tr:hover {
  background: #ddd;
}

table,th, td { border: 0px; }

tr.action {
  color: gray;
  font-family: serif;
}

td {
  vertical-align: top;
  margin: 0 0 0 0;
  padding: 0 15 0 15;
}

td.date {
  color: gray;
  white-space: nowrap;
  font-size: 70%;
}

tr.saying td.msg, tr.me td.msg {
  font-family: monospace;
  white-space: pre-wrap;
  padding-left: 5px;
}

tr.me td.msg {
  font-style: italic;
}

td.nick {
  font-family: serif;
  font-size: 80%;
  text-align: right;
  vertical-align:top;
  padding-right: 5px;
  font-weight: bold;
}

tr.action td.msg {
  font-size: 80%;
}

#driving {
  top: 0;
  background: white;
  position: fixed;
  border-bottom: 4px solid #eee;
  text-align: right;
  width: 100%;
  height: 60px;
}

#driving h1 {
  text-shadow: 2px 2px 2px #bbb;
  margin:5px;
  float: left;
}

#logs {
  margin-top: 64px;
}


#loadingDiv {
  width: 100%;
  text-align: center;
  //margin-top: 64px;
  position: fixed;
  top: 20;

}

#footer {
  font-size: 70%;
  margin-left: 10px;
}

span.highlight {
  background: yellow;
}
