body { margin: 0; padding: 0; }
table { border-collapse:collapse; }

tr:hover {
  background: #ddd;
}

table,th, td { border: 0px; }

tr.action {
  color: gray;
  font-family: serif;
}

td {
  vertical-align: top;
  margin: 0 0 0 0;
  padding: 0 15px 0 15px;
}

td.date {
  color: gray;
  white-space: nowrap;
  font-size: 70%;
}

tr.saying td.msg, tr.me td.msg {
  font-family: monospace;
  white-space: pre-wrap;
  padding-left: 5px;
}

tr.me td.msg {
  font-style: italic;
}

td.nick {
  font-family: serif;
  font-size: 80%;
  text-align: right;
  vertical-align:top;
  padding-right: 5px;
  font-weight: bold;
}

tr.action td.msg {
  font-size: 80%;
}

div.logs {
  margin: 80px 0 50px 0;
  clear:left;
}

#footer {
  margin: 0;
  width: 100%;
  text-align: center;
  background: white;
  font-size: 70%;
  position:fixed;
  bottom: 0px;
  height: 30px;
  color: gray;
}

span.highlight {
  background: yellow;
}

nav {
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: white;
  display: block;
  border-bottom: 4px solid #eee;
  box-shadow:0 2px 10px rgba(0, 0, 0, .3);
  padding-top:15px;
}

nav span.separator {
  color: #ccc;
}

nav ul { display: inline; }

nav h1 {
  font-size: 190%;
  text-shadow: 2px 2px 2px #bbb;
  display: inline;
  margin:0 0 15px 25px;
  float: left;
}

#loadingDiv {
  display: inline;
  float: left;
  margin: 10px;
}

nav ul { list-style: none; }

nav ul li { display: inline; }

nav li a {
  margin: 0 6px 0 6px;
}

.infinite-loading:after {
  content: "... Loading ...";
}

a.anchor{display: block; position: relative; top: -120px; visibility: hidden;}
