<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pimp my Logs!</title>
    <meta name="description" content="PimpMyLogs, minimal UI for IRC logs">
    <meta name="author" content="Guillaume Coré (fridim)">
    <link rel="StyleSheet" rev="StyleSheet" href="main.css" type="text/css" />
    <script src="jquery-2.0.3.min.js"></script>
  </head>

  <body>
    <nav>
      <h1>@|channel|</h1>
      <div id="loadingDiv">
        <img alt="busy" src="spinner.gif" />
      </div>
      <ul>
        <li><a href="#" id="day">last day</a></li>
        <li><span class="separator">|</span> <a href="#" id="week">last week</a></li>
        <li><span class="separator">|</span> <a href="#" id="month">last month</a></li>
        <li><span class="separator">|</span> <a href="#" id="year">last year</a> <small>(SLOW)</small></li>
        <li><span class="separator">|</span> <a href="#" id="all">all</a> <small>(SLOW++)</small></li>
        <li><span class="separator">|</span> search : <input type="text" id="search" /></li>
      </ul>
    </nav>
    <div id="logs">
    </div>
    <div id="footer">
      <p>PimpMyLogs, minimal UI for IRC logs - <a href="http://github.com/fridim/pimpmylogs">Fork me!</a></p>
    </div>
    <script>
      $("#search").change(function() {
          $("#logs").load("search", "q="+ encodeURIComponent($(this).val()));
          });
      $("#day").click(function() {
            $("#logs").load("logs/day");
          });
      $("#week").click(function() {
            $("#logs").load("logs/week");
          });
      $("#month").click(function() {
            $("#logs").load("logs/month");
          });
      $("#year").click(function() {
            $("#logs").load("logs/year");
          });
      $("#all").click(function() {
            $("#logs").load("logs/all");
          });
      $(document).bind("ajaxStart.mine", function() {
        window.location = '#firstline';
        $('#loadingDiv').show();
      });

      $(document).bind("ajaxStop.mine", function() {
        $('#loadingDiv').hide();
      });

      $('#loadingDiv').hide();  // hide it initially

      // If a link to a specific time was given, then load it

      var l = $(location).attr('hash');
      if (l && l.match(/^#\d\d\d\d-/)) {
        var timestamp = Date.parse(l.slice(1,11))/1000;
        $("#logs").load("search", "t="+ timestamp, function() {
            $('#loadingDiv').hide();
            window.location = l;
            $(l).css({"background": "#DE5577", "color": "white"});
            $(l + ' a').css({"color": "white"});
            $(l + ' td.nick').css({"color": "white"});
        });
      } else {
        $("#logs").load("logs/day", function() {
          window.location = '#lastline';
        });
      }
    </script>
  </body>
</html>
